/*==========================================================================
  Base Layout
==========================================================================*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  .wrapper {
    padding: 16px;
    height: 100%;
    max-height: 100%;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-light !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-light !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-light !important;
}


